*.dll
*.tmp
*.bak
*.swp
*.swo
*.log
*.pdb
Library/
Temp/
/Source/obj
/Source/bin
Build/
Builds/
.vscode/
About/Thumbs.db
Textures/Thumbs.db
*.user
*.sln.cache
.DS_Store
desktop.ini
.vs/
.idea/
notes.md
useful_classes.md